<div id="create_event" class="admin_block">
    <a id="new"></a>
    <div class="wrapper event-creation">
        <h2>create a groupact:</h2>

        <%= form_for @event do |e| %>
        <%= e.text_field :title, :placeholder => "Event Title" %>
        <%= e.text_area :description, :placeholder => "Event Description" %>
        <%= e.text_field :down_payment, :placeholder => "Down Payment Amount (Not Required)" %>
        <%= e.select(:image,[ ['Choose Theme',  "events/default.jpg"   ],
                              ['Sporting',      "events/sports.jpg"    ],
                              ['Music',         "events/music.jpg"     ],
                              ['Nightlife',     "events/nightlife.jpg" ],
                              ['Theater',       "events/theater.jpg"   ],
                              ['Travel',        "events/travel.jpg"    ] ]) %>
        <%= e.text_field :commit_date, :placeholder => "Commit Date", :class=>'datepicker' %>
        <%= hidden_field_tag('event[creator_id]', current_user.id) %><br>
        <%= button_tag "Next", :type => "button", :id => "next"%>
        <ul id='errors'></ul>
        <p class="user_admin_nav"><a href="#top">top</a></p>
    </div>

      <div class="wrapper event-creation" id="emails" style="display: none;">
        <h2>invite your friends:</h2>
        <%= e.fields_for :emails do |email| %>
          <%= email.text_field 0, :placeholder => "Invitee's email", :class => "friend-email" %>
          <%= email.text_field 1, :placeholder => "Invitee's email", :class => "friend-email" %>
          <%= email.text_field 2, :placeholder => "Invitee's email", :class => "friend-email" %>
          <%= button_tag "Add Invitee", :type => "button", :id => "add", :class => "email-button" %>
          <%= e.button "Create Event", :class => "email-button" %>
        <% end %>

      <% end %>
      <p class="user_admin_nav"><a href="#top">top</a></p>
    </div>

</div>
