<div id="created_events" class="admin_block">

<a id="events"></a>
  <div class="wrapper admin-event-list admin-created">

  <h2>your groupact events:</h2>

  <% unless user.created_events.empty?  %>
    <div id='list'>
      <div class="prev"><%= image_tag 'prev.png', :size=> '100x100' %></div>

      <div class='slider'>
        <ul>
          <% user.events.reverse.each do |event| %>
          <li>
            <%= link_to (image_tag event.image, :size => "292.5x140", :class=>'captify'), event_path(event.url) %>
            <span class="event_image_title">
              <%= link_to truncate(event.title, :length=> 25, :seperator => ' '), event_path(event.url) %>
              <span id='description'><%= truncate(event.description, :length => 450) %></span>
            </span>
          </li>
          <% end %>
        </ul>
      </div>

      <div class="next"><%= image_tag 'next.png', :size => '100x100' %></div>
    </div>
  <% else %>
    <span id="no_events">You have yet to create any events :( </span>
    <div id='new_button_created'><a href="#new">new</a></div>
  <% end %>

  <p class="user_admin_nav"><a href="#top">top</a></p>
  </div>
</div>
