<div id="created_events" class="admin_block">
  <a id="created"></a>
  <div class="wrapper admin-event-list admin-created">
    <h2>groupacts you've created:</h2>
    <div id='list'>
      <div class="prev"><%= image_tag 'prev.png', :size=> '100x100' %></div>
      <div class='slider'>
        <ul>
          <% user.created_events.reverse.each do |event| %>
          <li>
            <%= link_to (image_tag event.image, :size => "292.5x140", :class=>'captify'), event_path(event.url) %>
            <span class="event_image_title">
              <%= link_to event.title, event_path(event.url) %>
              <span id='description'><%= truncate(event.description, :length => 450) %></span>
            </span>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="next"><%= image_tag 'next.png', :size => '100x100' %></div>
    </div>
    <p class="user_admin_nav"><a href="#top">top</a></p>
  </div>
</div>
