<div id="create_event" class="admin_block">
<a id="new"></a>
  <div class="wrapper">
    <h2>create a groupact:</h2>

    <%= form_for @event do |e| %>
    <%= e.text_field :title, :placeholder => "Event Title" %>
    <%= e.text_area :description, :placeholder => "Event Description" %>
    <%= e.text_field :commit_date, :placeholder => "Commit Date", :class=>'datepicker' %>
    <%= hidden_field_tag('event[creator_id]', current_user.id) %><br>
    <%= e.button "Create" %>
    <% end %>

    <p class="user_admin_nav"><a href="#top">top</a></p>
  </div>
</div>
