<div class="wrapper">

  <div class="edit_form">
    <h4>edit</h4>

    <%= form_for @user do |u| %>
      <%= u.text_field     :first_name, :placeholder => "First name" %>
      <%= u.text_field     :last_name,  :placeholder => "Last name" %>
      <%= u.email_field    :email,      :placeholder => "Email" %>
      <%= u.password_field :password,   :placeholder => "Password" %>
      <%= u.password_field :password_confirmation, :placeholder => "Confirm Password" %>
      <%= u.file_field     :profile_pic %>
      <ul id="errors"></ul>
      <%= u.button "Create Account" %>
    <% end %>
    <%= link_to "close", '#', :class=> "home_form_close" %>
  </div>

</div>

<div class="clear"></div>