<div class="condition-builder">
  <%= form_tag({:controller => 'conditions', :action=>'create'}, :method => 'post') do %>
  <div id="sentence">I will attend this event <span class='red'>IF</span> <span class="droppable-options" id="1">___________________</span></div> <br>
  <%= hidden_field_tag 'invitee_id', Invitee.find_by_event_id(event.id).id%>
  <%= hidden_field_tag 'event_id', event.id %>
  <%= button_tag("Commit", :id => "condition_button")%><br>
  <% end %>

<div class ='draggable-options'>
  <p id="conditions_header">Conditions:</p>
  <ul>
    <li id="min_num"> at least (number of) people go</li>
    <li id="person">(this specific person) goes</li>
  </ul>
</div>
  
</div>

<div class="hide">
  <div id="minNumSelection">
    <span id='min_people'>at least <%= select(:event, :invitees, (2..event.users.count)) %> people go</span>
  </div>

  <div id="personSelection">
    <span id='person_selector'><%= collection_select(:event, :users, event.users.where("status != 'No'"), :id, :full_name, {}, {:id => "event", :name => "event[users][]"}) %> goes</span>
  </div>
</div>
