<% if !@event.creator_api && @event.creator == current_user && @event.down_payment %>
  <div id="stripe_link">
    <p>To collect downpayments, please...</p>
    <%= link_to image_tag('/assets/stripe_light.png'), 'https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_22BvZXoycdQiGIYRgvFx3fMNHJzK8MaF&scope=read_write' %>
  </div>
<% end %>

<div class="wrapper" id="<%= @event.url %>">

  <div class="event_info"> <!-- Main Column -->

    <% unless @invitee.responded || @event.closed? %>
      <%= render :partial => "event_conditions", :locals => { :event => @event, :invitee => @invitee } %>
    <% end %>

    <%= render :partial => "event_info", :locals => { :event => @event } %>

    <div id="comment_area">
      <% if @all_comments %>
        <%= render :partial => "event_display_comments", :locals => { :all_comments => @all_comments } %>
      <% end %>
      <%= render :partial => "event_new_comment", :locals => { :event => @event } %>
    </div>

  </div>

  <div class ='vertical'> <!-- Left Column -->
    <%= render :partial => "event_sidebar", :locals => { :event => @event } %>
  </div>

  <div class="clear"></div>

</div>
