<!DOCTYPE html>
<html>
<head>
  <title>grouPACT</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!-- moving js include to bottom of the html document will improve page load time -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<a id="top"></a> <!-- For Scrolling JQuery -->

<h1><%= link_to "home", root_path %></h1>

<%= render :partial => "layouts/alerts" %>

<%= yield %>

<%= render :partial => "layouts/footer" %>

</body>
</html>
